.list{
    list-style: none;
    position: relative;
    overflow: hidden;
    padding-left: 5rem;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.list:before{
    position: absolute;
    content: '';
    height: 100%;
    width: 1rem;
    background: linear-gradient(to top, transparent 5%, var(--baseline-color) 40%, var(--accent-color) 80%);
    left: 2.5rem;
    margin: 4rem 0;
}

.line{
    position: relative;
}

.line:after{
    --point-diameter: 2rem;
    position: absolute;
    content: '';
    background: var(--point-color);
    width: var(--point-diameter);
    height: var(--point-diameter);
    top: var(--point-diameter);
    left: -3rem;
    border-radius: 50%;
}

.lineContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-secondary);
    border-radius: 1rem;
}

.titleContainer {
    z-index: 1;
    position: relative;
    hyphens: auto;
    word-break: break-word;
    padding: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    align-items: flex-start;
}