.div{
}
.div ul{
    list-style: none;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 5rem;
}

.div ul:before{
    position: absolute;
    content: '';
    height: 100%;
    width: 1rem;
    background: linear-gradient(to top, rgb(62, 108, 227) 20%, rgb(158, 230, 209) 80%);
    left: 2.5rem;
    margin: 4rem 0;
}

.div ul li{
    position: relative;
    border: dashed green 1px;
}

.div ul li:after{
    --point-diameter: 2rem;
    position: absolute;
    content: '';
    background: var(--accent-color);
    width: var(--point-diameter);
    height: var(--point-diameter);
    top: calc(50% - var(--point-diameter) /2);
    left: -3.1rem;
    border-radius: 50%;
}

.div ul li div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}