html {
    font: 62.5% sans-serif;
    margin: 0;
    padding: 0;}

body {
    height: 0;
    font: 1.6em/1.4 Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
}

a {
    color: rgb(49, 137, 199)
}

.overflow-block{

}
.overflow-block ~ main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    scrollbar-gutter: stable;

}

.linkButton {
    font-size: 2rem;
    bottom: 0;
    z-index: 10;
    max-width: 30rem;
    margin:  0 auto 3rem auto;
    height: 5rem;
    border: 2px solid var(--btn-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-decoration: none;
    text-underline: none;
}