html {
    font: 62.5% sans-serif;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
    background: var(--bg-secondary);
    scroll-behavior: smooth;
}

body {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    font: 1.6em/1.4 Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
}

a {
    color: rgb(49, 137, 199)
}

.intro {
    font-size: 2rem;
}

.linkButton {
    font-size: 2rem;
    bottom: 0;
    z-index: 10;
    max-width: 30rem;
    margin: 0 auto 3rem auto;
    height: 5rem;
    border: 2px solid var(--btn-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-decoration: none;
    text-underline: none;
}

p {
    font-size: 2rem;
}

.icon {
    stroke: var(--text-primary);
    fill: var(--text-primary);
    height: 30px;
    width: 30px;

}