html {
    font-family: Arial, sans-serif;
}

body {
    z-index: -20;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: .2s;
}
a {
    color: rgb(49, 137, 199)

}