.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent 50%);
    @media screen and (min-width: 768px) {
        z-index: 1;
        font-size: 4rem;
        align-items: flex-start;
    }
}

.title {
    hyphens: manual;
    word-break: normal;
    text-align: center;
    width: 100%;
    position: relative;
    color: var(--title-color);
    font-size: 12rem;
    margin: 0;
    @media screen and (min-width: 768px) {
        text-align: left;
        margin-top: 15rem;
        hyphens: none;

    }
}

.subtext {
    color: var(--subtext-color);
    font-size: 8rem;
    margin: 0;
    @media screen and (min-width: 768px) {
        padding: 0 2rem;
        margin-left: 2rem;
    }
}