.container {
    display: flex;
    flex-flow: column nowrap;
    aspect-ratio: 4/2;
    justify-content: flex-end;
    padding: 3rem 3rem;
    align-items: center;
    margin-bottom: 2rem;
    z-index: 1;
    @media screen and (min-width: 768px) {
        font-size: 4rem;
        align-items: flex-start;
    }
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent 50%);
}

.title {
    position: relative;
    color: var(--title-color);
    font-size: 10vw;
    margin: 0;
    white-space: nowrap;
    @media screen and (min-width: 768px) {
        font-size: 4rem;
        padding: 0 0 0 2rem;
    }
}

.subtext {
    color: var(--subtext-color);
    margin: 0;
    @media screen and (min-width: 768px) {
        font-size: 2rem;
        padding: 0 2rem;
        margin-left: 2rem;
    }
}