.container {
    margin: 0 auto;
}

.switch input {
    display: none;
}

.switch {
    display: inline-block;
    position: relative;
    width: 2em;
    height: 1em;
}

.slider {
    background-color: rgb(0,0,0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.slider::before {
    background-color: #fff;
    content: "";
    height: 1em;
    width: 2em;
    position: absolute;
    left: 0;
    bottom: 0;
}