.switch input {
    display: none;
}

.switch {
    display: flex;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider {
    display: inline-block;
    width: 2.4em;
    border-radius: 1rem;
    height: 1.2em;
    background-color: var(--btn-secondary);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: .2s;
}

.slider::before {
    margin: 0.1em;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--btn-primary);
    content: "";
    height: 1em;
    width: 1em;
    transition: .2s;
}

.disabled::before {
    background-color: var(--btn-secondary);
}
.disabled {
    cursor: initial;
}

.input:checked + .slider::before {
    transform: translateX(1.2em);
}

.icon {
    width: 2em;
    filter: var(--icon-invert);
    transition: .2s;
}

.container {
    display: flex;
    gap: 0.2em;
}

.vertical {
    flex-flow: column nowrap;
}

.horizontal {
    flex-flow: row nowrap;
}

.loading {
    filter: invert(50%);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}