.container {
    z-index: 10;
    width: 0;
    position: absolute;
    right: 0;
    @media screen and (min-width: 768px) {
        overflow: hidden;
        top: 2em;
        height: 5em;
        box-sizing: border-box;
        display: flex;
        width: 100%;
    }
}

.menu:has(.input:checked) + .child {
    margin: 0;
    transform: translateX(-50vw);
    background: var(--bg-secondary);
    width: 50vw;
    visibility: visible;
}

.menu:has(.input:checked) {
    border: var(--btn-primary) 2px solid;
    border-radius: 50%;
}

.child {
    display: flex;
    background: var(--bg-secondary);
}


.list {
    list-style: none;
    margin: 0;
    display: flex;
    height: auto;
    align-items: center;
    flex-flow: column nowrap;
    padding: 5em 5em;
    width: 100%;
    @media screen and (min-width: 768px) {
        padding: 0;
        flex-flow: row nowrap;
        gap: 1em;
        width: auto;
    }
}

.listItem {
    padding: 2em 0;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 0;
    @media screen and (min-width: 768px) {
        padding: 0;
        width: auto;
        justify-content: center;
        align-items: center;
    }
}

.title {
}

.checkbox {
    display: none;
}

.menu {
    width: var(--menu-toggle-side);
    height: var(--menu-toggle-side);
    background: var(--bg-secondary);
    display: flex;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.input:checked + .menuOpen + .menuOpen + .menuOpen {
    transform: translateY(-0.8rem) rotate(-45deg);
}

.input:checked + .menuOpen + .menuOpen {
    transform: rotate(45deg);
}

.input:checked + .menuOpen {
    transform: translateY(0.8rem) rotate(45deg);
}

.input {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.menuOpen {
    transition: .2s;
    box-sizing: border-box;
    display: inline-block;
    flex-flow: column nowrap;
    height: 0.3rem;
    width: 2rem;
    background-color: var(--btn-primary);
    border-radius: 1rem;
}