.container {
    z-index: 10;
    position: fixed;
    right: 0;
    @media screen and (min-width: 768px) {
        transition: top .2s, width .2s, height .2s;
        overflow: hidden;
        position: fixed;
        top: 2em;
        box-sizing: border-box;
        display: flex;
        width: 100%;
    }
}


.child {
    position: absolute;
    height: 100vh;
    overflow: hidden;
    width: 0;
    align-items: flex-start;
    display: flex;
    right: 0;
    background: var(--bg-secondary);
    z-index: 200;
    @media screen and (min-width: 768px) {
        align-items: center;
        justify-content: center;
        position: initial;
        transition: none;
        height: 8rem;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
        border-radius: .5rem;
        width: auto;
        padding: 0 2rem;
        margin: auto;
    }
}
.side {
    height: auto;
    width: 5rem;
    right: 0;
    position: fixed;
    top: 0;
}

.container .input:checked {
    border: solid red 1px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.brandContainer {
    box-shadow: 0 1px 3px 3px rgba(0,0,0,0.5);
    position: fixed;
    background: var(--bg-secondary);
    width: 100vw;
    height: 8rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.followBrand {
    margin-left: 1rem;
    width: 100%;
    background: var(--title-gradient);
    font-size: 3.5rem;
    color: transparent;
    background-clip: text;
    z-index: 1000;
}

.menu {
    width: var(--menu-toggle-side);
    height: var(--menu-toggle-side);
    background: var(--bg-secondary);
    display: flex;
    z-index: 300;
    --menu-toggle-side: 5rem;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1rem;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    transition: .2s;
    border: solid 2px var(--bg-secondary);
    border-radius: 1rem;
    @media screen and (min-width: 768px) {
        transition: none;
        display: none;
    }
}

.menu:has(.input:checked) {
    border: var(--btn-primary) 2px solid;
    border-radius: 50%;
}


.menu:has(.input:checked) + .child {
    margin: 0;
    background: var(--bg-secondary);
    width: 50vw;
    visibility: visible;
}

.list {
    list-style: none;
    margin: 0;
    display: flex;
    height: auto;
    padding: 8rem 0 0 0;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    @media screen and (min-width: 768px) {
        padding: 0;
        flex-flow: row nowrap;
        gap: 1em;
        width: auto;
        height: 100%;
    }
}

.test {
    background: red;
}

.checkbox {
    display: none;
}

.menu-large {
    transition: none;
}

.menu-small {
    z-index: 100;
    --menu-toggle-side: 3rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: var(--menu-toggle-side);
    height: var(--menu-toggle-side);
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    transition: .2s;
}

.child .large {
    align-items: center;
    justify-content: center;
    position: initial;
    transition: none;
    height: 5rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    width: auto;
    padding: 0 2rem;
    margin: auto;
}

.child-small {
    position: absolute;
    height: 100vh;
    transition: .2s ease-out;
    overflow: hidden;
    width: 0;
    align-items: flex-start;
    background: var(--bg-secondary);
}

.input:checked + .menuOpen + .menuOpen + .menuOpen {
    transform: translateY(calc(var(--menu-toggle-side)/-4)) rotate(-45deg);
}

.input:checked + .menuOpen + .menuOpen {
    transform: rotate(45deg);
}

.input:checked + .menuOpen {
    transform: translateY(calc(var(--menu-toggle-side)/4)) rotate(45deg);
}

.input {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.menuOpen {
    transition: .2s;
    box-sizing: border-box;
    display: inline-block;
    flex-flow: column nowrap;
    height: 0.3rem;
    width: 60%;
    background-color: var(--btn-primary);
    border-radius: 1rem;
}