.main {
    height: auto;
    position: relative;
    z-index: -2;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    min-height: 100vh;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.4);
    overflow-x: hidden;
    background-color: var(--bg-secondary);
    @media screen and (min-width: 768px) {
        max-width: 1080px;
        width: 80vw;
        margin: auto;
    }
}

.background {
    z-index: -1;
    position: absolute;
    filter: var(--img-brightness);
    object-fit: contain;
    min-width: 610px;
    width: 768px;
    height: auto;
    display: flex;
    @media screen and (min-width: 768px){
        width: 100%;
    }

}
